{{define "edit"}}
<!DOCTYPE html>
<html>
    <head>
        <style>
            .fill {
                width: 100%;
            }
        </style>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
        <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.pink-orange.min.css" />
    </head>
    <body>
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <header class="mdl-layout__header">
                <div class="mdl-layout__header-row">
                    <span class="mdl-layout-title">Editing {{.Title}}</span>
                </div>
            </header>
            <main class="mdl-layout__content">
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--4-col"></div>
                    <div class="mdl-cell mdl-cell--4-col">
                        <form class="fill" action="/save/{{.ID}}" method="POST">
                            <textarea class="fill" name="title">{{.Title}}</textarea>
                            <textarea id="texty" class="fill" name="body">{{.Body}}</textarea> <br/>
                            <input type="submit" value="Save">
                        </form>
                    </div>
                    <div class="mdl-cell mdl-cell--4-col"></div>
                </div>
                <div class="page-content">
                </div>
            </main>
        </div>
    </body>
    <script defer>
        let simpleMDE = new SimpleMDE({ element: document.getElementById("texty") });
    </script>
</html>
{{end}}