{{define "list"}}
<!DOCTYPE html>
<html>
    <head>
        <style>
            .fill {
                width: 100%;
            }
        </style>
        <script>
            function goto() {
                let elm = document.getElementById("sample1")
                window.location.href = "/edit/"+elm.value
            }
        </script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
        <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
        <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.pink-orange.min.css" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <header class="mdl-layout__header">
                <div class="mdl-layout__header-row">
                    <span class="mdl-layout-title">Pages</span>
                </div>
            </header>
            <main class="mdl-layout__content">
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--4-col"></div>
                    <div class="mdl-cell mdl-cell--4-col">
                        <div class="fill mdl-card mdl-shadow--8dp">
                            <ul class="fill mdl-list">
                                {{range $val := .}}
                                    <li class="mdl-list__item">
                                        <a class="mdl-list__item-primary-content" href="/view/{{ $val.ID }}">
                                            {{ $val.Title }}
                                        </a>
                                    </li>
                                {{end}}
                            </ul>
                        </div>
                        <form action="#">
                            <div class="mdl-textfield mdl-js-textfield">
                                <input class="mdl-textfield__input" type="text" id="sample1">
                                <label class="mdl-textfield__label" for="sample1">Create new page with ID...</label>
                            </div>
                            <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" onclick="goto()">
                                <i class="material-icons">add</i>
                            </button>
                        </form>
                    </div>
                    <div class="mdl-cell mdl-cell--4-col"></div>
                </div>
            </main>
        </div>
    </body>
</html>
{{end}}